
.container

{
    display: flex;
    justify-content: left;
    border: 1px solid black;
    background: linear-gradient(to right, #a2c523, #486B00, #2e4600);
    padding: 0px;
    margin: 0px;
}
img
{
margin: 0px;
padding: 0px;
}

.kiwi
{
    background-image: url("kiwi.png");
}
.photo
{
    margin: 0px;
    padding: 0px;
  background-image: url('logokoala.png');
  background-size: contain;
  background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    
}
#general
{
    display: flex;
}
#nav
{
    flex-grow: 1;
}
#main
{
    flex-grow: 2;
    height: 1500px;
    background-color: #a9c770;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 0px;
    padding: 10px 10px 0px 10px;
}
.onglet
{
    background: linear-gradient(to top, #7d4427, #a2c523);
    background-size: contain;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}
.gif
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.sous_image
{
    background-color: #a9c770;
    padding: 10px;
    margin: 0px;
    flex-grow: 1;
}
.img_small
{
 margin-left: 10px;   
 margin-bottom: 10px;
}
body
{
    font-family: 'Fredoka', sans-serif;
}
.kiwi
{
    background-image: url("kiwi.png");
}
